.description {
  display: none;
}

@media screen and (min-width: 575px) {
  .description {
    display: block;
  }

  .book-col {
    width: 25%;
  }

  .info {
    align-self: flex-end;
  }

  .thumbnail {
    max-height: 200px;
    width: auto;
  }

  .six {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }

  .lib-col {
    width: 75%;
  }

  .lib-author {
    font-size: 1.5rem;
  }

  .rl-buy,
  .rl-info,
  .lib-details {
    height: 2.5rem;
    width: 6.5rem;
    margin: 1.5rem 0 1rem 0;
  }

  .rl-button-container {
    width: 400px;
    margin-left: 2rem;
  }

  .rating-container {
    font-size: 1.25rem;
  }

  .delete-container {
    font-size: 2rem;
  }

  .buy-modal {
    width: 300px;
    height: 200px;
    margin: 0 auto;
  }
}
