.description {
  display: none;
}

@media screen and (min-width: 575px) {
  .description {
    display: block;
  }

  .book-col {
    min-width: 25%;
  }

  .col-book-third {
    width: 25%;
  }

  .col-book-two-thirds {
    width: 75%;
  }

  .info {
    align-self: flex-end;
  }

  .thumbnail {
    max-height: 200px;
    width: auto;
  }

  .six {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }

  .lib-col {
    width: 75%;
  }

  .lib-author {
    font-size: 1.5rem;
  }

  .rl-buy,
  .rl-info,
  .lib-details {
    height: 2.5rem;
    width: 6.5rem;
  }

  .rl-button-container {
    width: 400px;
    margin-left: 2rem;
  }

  .rating-container {
    font-size: 1.25rem;
  }

  .delete-container {
    font-size: 2rem;
    position: static;
  }

  .sign-in-box {
    padding: 2.5rem;
    font-size: 1.5rem;
  }

  .delete-modal,
  .buy-modal {
    width: 300px;
    height: 200px;
    margin: 0 auto;
  }
}

@media screen and (max-height: 700px) {
  .adv-submit {
    height: 1.5rem;
  }

  .adv-text-box {
    height: 1.5rem;
    margin: 0.5rem;
  }

  .adv-search-form {
    margin: 0;
  }
}

@media screen and (min-width: 900px) {
  .col-book-third {
    width: 15%;
  }

  .col-book-two-thirds {
    width: 85%;
  }
}

@media screen and (orientation: landscape) {
  .advanced {
    height: 100%;
  }

  .button-container {
    top: 85%;
  }

  .delete-modal {
    bottom: 20%;
  }

  .menu-heading {
    margin-block-end: 0;
  }

  ul {
    margin-block-end: 0;
  }

  .reading-plan-form {
    height: 100vh;
  }

  .menu-list {
    margin: 0 0.75rem;
  }

  .title {
    margin: 0;
  }
}

@media screen and (orientation: landscape) and (min-width: 1024px) {
  .button-container {
    top: 90%;
  }

  .advanced {
    height: 100vh;
  }
}

@media screen and (orientation: landscape) and (max-width: 640px) {
  .button-container {
    top: 80%;
  }
}
