body {
  font-family: 'Montserrat', sans-serif;
  background-color: black;
  color: white;
}

h1 {
  font-family: 'Raleway', sans-serif;
}

.search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
