body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  margin: 0;
  background-color: #f9f7f7;
}

.save-header,
.error-header,
.add-header,
.icon,
.menu-icon,
.pop-up,
.overlay,
.buy-overlay,
.modal {
  z-index: 2;
}

.header {
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;
  height: 4rem;
  background: linear-gradient(120deg, #f9f7f7da 0%, #3f72af  45%, #112d4e 100%);
}

.save-header,
.error-header,
.add-header {
  position: fixed;
  top: 0.75rem;
  height: 4rem;
  border-radius: 0.5rem;
  width: 95%;
  left: 5%;
  right: 5%;
  box-shadow: 5px 5px 10px #112d4e;
}

.pop-up {
  position: fixed;
  top: 90%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: black;
  border-radius: 1rem;
  font-size: 1.25rem;
  padding: 0.5rem 0.25rem;
  box-shadow: 5px 5px 10px #112d4e;
}

.icon {
  height: 100%;
}

.saved,
.added {
  color: #f9f7f7;
  width: 30%;
}

.hidden {
  display: none !important;
}

.save-header,
.saved {
  background: linear-gradient(150deg, #f9f7f7f8 0%, #e63946f8 65%);
}

.error-header {
  background: linear-gradient(150deg, #f9f7f7f8 0%, #a8dadcf8 65%);
}

.add-header,
.added {
  background: linear-gradient(150deg, #f9f7f7f8 0%, #3f71aff8 65%);
}

.heading {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  width: 80%;
  margin: auto;
}

.menu-heading {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  margin: 2rem auto;
  font-size: 2.5rem;
  color: #112d4e;
}

.sub-heading {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

.blue {
  color: #112d4e;
}

.one-blue {
  font-size: 3rem;
  color: #112d4e;
}

.one {
  font-size: 3rem;
  color: #f9f7f7;
}

.two {
  font-size: 2rem;
  color: #112d4e;
}

.two-white {
  font-size: 2rem;
  color: #f9f7f7;
}

.three {
  color: #112d4e;
}

.four {
  font-size: 1.5rem;
  color: #112d4e;
}

.five {
  font-size: 1.25rem;
}

.six {
  font-size: 1.5rem;
  font-weight: 500;
  color: #112d4e;
}

.sub {
  color: #112d4e;
  font-size: 1.5rem;
  font-style: italic;
}

.italic {
  font-style: italic;
}

.search-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.details-page,
.library-page,
.rl-page,
.results-page {
  min-height: 100%;
  padding-top: 0.5rem;
}

.details-page {
  background: linear-gradient(#f9f7f7 0%, #dbe2ef 50%, #3f72af 100%);
}

.results-container,
.library-container,
.rl-container {
  margin-bottom: 1rem;
  margin-top: 4rem;
  background-color: #f9f7f7;
  width: 100%;
}

.details-container {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.details-pic-container {
  margin: 1rem;
  box-shadow: 1px 2px 4px;
  padding: 0.25rem;
  border-radius: 0.25rem;
}

.button-container {
  position: fixed;
  top: 92%;
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.rating-container {
  display: flex;
  margin-top: 1rem;
  font-size: 0.85rem;
}

.star-container {
  margin-left: 0.5rem;
}

.delete-container {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1.25rem;
  color: #112d4e;
}

.rl-button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  width: 100%;
}

.semi-bold {
  font-weight: 500;
}

.bold {
  font-weight: 600;
}

.details-button {
  width: 125px;
  height: 50px;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.15rem;
  box-shadow: 1px 5px 10px #112d4eb2;
  border: 1px solid #112d4eb2;
}

.add-list {
  background: linear-gradient(150deg, #f9f7f7 0%, #3f72af 60%);
  color: #f1faee;
}

.add-lib {
  background: linear-gradient(150deg, #f9f7f7 0%, #e63946 60%);
  color: #f1faee;
}

.book-details {
  justify-content: center;
  text-align: center;
  margin-bottom: 2rem;
}

.small-details {
  display: flex;
  flex-direction: column;
  text-align: left;
  color: #112d4e;
  margin: 2rem 1rem;
}

.small-details-insert {
  margin: 1rem;
}

.card,
.rl-card,
.library-card {
  height: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  margin: 1rem auto;
  padding: 0.5rem;
  border-radius: 1rem;
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.651);
}

.card {
  background: linear-gradient(120deg, #f9f7f7 0%, #dbe2ef 50%, #a8dadc 100%);
}

.library-card {
  background: linear-gradient(120deg, #f9f7f7 0%, #dbe2ef 100%);
}

.rl-card {
  background: linear-gradient(120deg, #f9f7f7 0%, #dbe2ef 45%, #3f72af 100%);
}

.rl-card,
.library-card {
  width: 90%;
  margin: 1rem auto;
  position: relative;
  outline: none;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  border-radius: 1rem;
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.651);
}

.no-underline {
  text-decoration: none;
}

.result-info,
.lib-info,
.rl-card-info {
  display: flex;
}

.book-col,
.rl-col,
.lib-col {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  width: 100%;
}

.description {
  width: fit-content;
  margin: 2rem;
  color: #112d4e;
}

.home {
  background: linear-gradient(#f9f7f7 10%, #3f72af 65%, #112d4e  95%);
}

.advanced {
  background-image: linear-gradient(#f9f7f7 10%, #ef7d85 65%, #e63946 95%);
}

.search-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 2rem;
}

.button,
.text-box {
  font-family: 'Montserrat', sans-serif;
  border-radius: 1rem;
  text-decoration: none;
  font-size: 1rem;
  outline: none;
  box-shadow: 0 3px 5px #112d4e94;
  border: 1px solid #112d4e94;
}

.text-box {
  background-color: #f9f7f7;
  border-radius: 0.75rem;
  width: 230px;
  height: 35px;
  font-size: 1rem;
  margin: 1rem 0 2rem 0;
  color: #112d4e;
  text-align: center;
}

.submit {
  background: linear-gradient(#f9f7f7 25%, #dbe2ef 95%);
  color: #112d4e;
  width: 100px;
  height: 40px;
}

.advanced-btn {
  background: linear-gradient(#f9f7f7bd 0, #3f72af 95%);
  color: #f9f7f7;
  width: 180px;
  height: 40px;
}

.menu-icon {
  position: fixed;
  color: black;
  left: 1rem;
  top: 0.5rem;
}

.overlay {
  background-color: #babfc7ab;
  position: fixed;
  width: 100%;
  height: 100vh;
}

.modal {
  border-right: solid #112d4e;
  width: 300px;
  height: 100vh;
  background: linear-gradient(#f9f7f7f1 15%, #dbe2eff1 55%, #3f72aff1 100%);
}

.buy-overlay {
  background: linear-gradient(-135deg, #f9f7f7c2 0%, #112d4ec2 75%, #0a1c30c2 100%);
  position: fixed;
  width: 100%;
  height: 100vh;
}

.buy-modal {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  border-radius: 0.75rem;
  border: 1px solid #112d4e94;
  padding: 1rem;
  box-shadow: 0 5px 10px #112d4e94;
  position: fixed;
  top: 40%;
  bottom: 40%;
  left: 20%;
  right: 20%;
  width: 60%;
  height: 20%;
  background: linear-gradient(-135deg, #f9f7f7 0%, #dbe2ef 75%);
}

.buy-question {
  font-size: 1.25rem;
}

.buy-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 1rem;
}

.buy-no,
.buy-yes {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  border-radius: 0.75rem;
  font-size: 1.25rem;
  padding: 0.25rem 0.5rem;
  width: 75px;
  color: #f9f7f7;
  box-shadow: 0 3px 7px #112d4e94;
  border: 1px solid #112d4e94;
  outline: none;
}

.buy-no {
  background-color: #3f72af;
}

.buy-yes {
  background-color: #a8dadc;
}

.menu {
  display: flex;
  flex-direction: column;
}

.menu-item {
  margin: 1rem;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 1.75rem;
  color: #112d4e;
}

.menu-icon:hover {
  cursor: pointer;
  color: #a8dadc;
}

.menu-icon:active {
  transform: translateY(5px);
  color: #a8dadc;
}

.plus-icon:hover,
.heart-icon:hover,
.delete-button:hover {
  cursor: pointer;
  color: #e63946;
}

.plus-icon:active,
.heart-icon:active,
.delete-button:active {
  transform: translateY(5px);
  color: #e63946;
}

.menu-item:hover {
  cursor: pointer;
  color: #a8dadc;
}

.menu-item:active {
  transform: translateY(5px);
  color: #112d4e;
}

.button:hover,
.add-list:hover,
.add-lib:hover {
  cursor: pointer;
  color: #e63946;
  background: linear-gradient(#f9f7f7 25%, #a8dadc 95%);
}

.button:active,
.add-lib:active,
.add-list:active {
  transform: translateY(5px);
  background: linear-gradient(#f9f7f7 25%, #a8dadc 95%);
  box-shadow: 0 5px #112d4e;
  outline: none;
}

.info {
  margin: 1rem 1rem 0 1rem;
  height: 30px;
  width: 75px;
  background-color: #e63946;
  color: #f9f7f7;
  align-self: flex-start;
  border-radius: 0.75rem;
}

.button-anchor {
  width: 75px;
  height: 30px;
}

.lib-details {
  border-radius: 0.75rem;
  margin-top: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  color: #f9f7f7;
  width: 75px;
  height: 30px;
  background-color: #e63946;
}

.rl-buy,
.rl-info {
  font-family: 'Montserrat', sans-serif;
  border-radius: 0.75rem;
  outline: none;
  height: 35px;
  width: 80px;
  font-size: 1rem;
  margin: 0.25rem;
  box-shadow: 0 3px 7px #112d4e94;
  border: 1px solid #112d4e94;
}

.rl-buy {
  color: #112d4e;
  margin-right: 2rem;
  background: linear-gradient(135deg, #f9f7f7 0%, #a8dadc 100%);
}

.rl-info {
  color: #f9f7f7;
  background: linear-gradient(135deg, #f9f7f7 0%, #e25c67 40%, #e63946 100%);
}

.rl-info:hover,
.rl-buy:hover {
  cursor: pointer;
  color: #112d4e;
  background-color: #dbe2ef;
}

.thumbnail {
  width: 100%;
  align-self: flex-start;
  box-shadow: 2px 3px 4px #112d4e;
}

.card-icons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 0.5rem;
  font-size: 1.25rem;
}

.no-top {
  margin-block-start: 0;
}

.no-bottom {
  margin-block-end: 0;
}

.result-title,
.details-title,
.save-title,
.add-title {
  color: #f9f7f7;
  z-index: 1;
}

.result-title,
.details-title {
  position: fixed;
  left: 15%;
  right: 15%;
  margin: auto;
  text-align: center;
}

.save-title,
.error-title,
.add-title {
  top: 2rem;
  position: fixed;
  left: 5%;
  right: 5%;
  margin: auto;
  text-align: center;
}

.result-title {
  top: 0;
}

.details-title {
  top: 0.75rem;
}

.error-title {
  color: #112d4e;
}

.star-radio {
  display: none;
}

.red {
  color: #e63946;
  transition: color 1000ms;
}

.star-icon:hover {
  color: #e63946;
  cursor: pointer;
}

.star-icon:active {
  color: #112d4e;
  transform: translateY(2px);
}

.details-buy {
  margin: 1rem 0;
  border-radius: 0.75rem;
  outline: none;
  background: linear-gradient(120deg, #f9f7f7 0%, #a8dadc 50%);
  font-size: 1rem;
  padding: 0.25rem 1rem;
  box-shadow: 0 3px 5px #112d4e94;
  border: 1px solid #112d4e94;
}

.details-buy:hover,
.buy-no:hover,
.buy-yes:hover {
  cursor: pointer;
  background: linear-gradient(120deg, #f9f7f7 0%, #e63946 50%);
  color: #f9f7f7;
}

.details-buy:active,
.buy-no:active,
.buy-yes:active,
.rl-info:active,
.rl-buy:active {
  transform: translateY(3px);
  box-shadow: 0 5px 5px #112d4ed5;
}
