body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  margin: 0;
}

.header,
.save-header,
.error-header,
.result-title,
.details-title,
.save-title,
.error-title,
.menu-icon,
.overlay,
.modal {
  z-index: 1;
}

.header,
.save-header,
.error-header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 4rem;
}

.hidden {
  display: none !important;
}

.header {
  background: linear-gradient(120deg, #f9f7f7da 5%, #112d4ea9  35%, #112d4e 100%);
}

.save-header {
  background: linear-gradient(#f9f7f7 0%, #e63946 55%);
}

.error-header {
  background: linear-gradient(#f9f7f7 0%, #a8dadc 55%);
}

.heading {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

.one-blue {
  font-size: 3rem;
  color: #112d4e;
}

.one {
  font-size: 3rem;
  color: #f9f7f7;
}

.two {
  font-size: 2rem;
  color: #112d4e;
}

.two-white {
  font-size: 2rem;
  color: #f9f7f7;
}

.three {
  color: #112d4e;
}

.four {
  font-size: 1.5rem;
  color: #112d4e;
}

.five {
  font-size: 1.25rem;
}

.six {
  font-size: 1.5rem;
  font-weight: 500;
  color: #112d4e;
}

.sub {
  color: #112d4e;
  font-size: 1.5rem;
  font-style: italic;
}

.italic {
  font-style: italic;
}

.search-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.results-container {
  margin-bottom: 1rem;
  margin-top: 4.5rem;
  background-color: #f9f7f7;
}

.details-page {
  min-height: 100vh;
  background: linear-gradient(#f9f7f7 35%, #dbe2ef 55%, #3f72af 100%);
}

.details-container {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.details-pic-container {
  margin: 1rem;
  box-shadow: 1px 2px 4px;
  padding: 0.25rem;
  border-radius: 0.25rem;
}

.pic-container {
  min-height: 130px;
}

.button-container {
  position: fixed;
  top: 92%;
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.library-container {
  background-color: #f9f7f7;
  margin-bottom: 1rem;
  margin-top: 4.5rem;
}

.rating-container {
  position: absolute;
  display: flex;
  top: 80%;
  left: 35%;
  font-size: 0.85rem;
}

.star-container {
  margin-left: 0.5rem;
}

.delete-container {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1.25rem;
  color: #112d4e;
}

.semi-bold {
  font-weight: 500;
}

.bold {
  font-weight: 600;
}

.details-button {
  width: 125px;
  height: 50px;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.5);
  outline: none;
}

.add-list {
  background: linear-gradient(#f9f7f7 0%, #3f72af 65%);
  color: #f9f9f9;
}

.add-lib {
  background: linear-gradient(#f9f7f7 0%, #e63946 65%);
  color: #f9f7f7;
}

.book-details {
  justify-content: center;
  text-align: center;
  margin-bottom: 2rem;
}

.small-details {
  display: flex;
  flex-direction: column;
  text-align: left;
  color: #112d4e;
  margin: 2rem 1rem;
}

.small-details-insert {
  margin: 1rem;
}

.card {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 1rem;
  background: linear-gradient(#f9f7f7 10%, #a8dadc 65%);
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.651);
}

.library-card {
  position: relative;
  outline: none;
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 1rem;
  background: linear-gradient(#f9f7f7 10%, #dbe2ef 65%);
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.651);
}

.no-underline {
  text-decoration: none;
}

.result-info {
  display: flex;
}

.lib-info {
  display: flex;
  width: 100%;

  /* margin-bottom: 1rem; */
}

.book-col {
  margin: 0.5rem 0 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.lib-col {
  margin: 0.5rem 0 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.description {
  width: fit-content;
  margin: 2rem;
  color: #112d4e;
}

.home {
  background: linear-gradient(#f9f7f7 10%, #3f72af 65%, #112d4e  95%);
}

.advanced {
  background-image: linear-gradient(#f9f7f7 10%, #ef7d85 65%, #e63946 95%);
}

.search-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 2rem;
}

.button,
.text-box {
  font-family: 'Montserrat', sans-serif;
  border-radius: 1rem;
  border: none;
  text-decoration: none;
  box-shadow: 2px 2px 4px #112d4e;
  font-size: 1rem;
  outline: none;
}

.text-box {
  background-color: #f9f7f7;
  border-radius: 0.75rem;
  width: 230px;
  height: 35px;
  font-size: 1rem;
  margin: 1rem 0 2rem 0;
  color: #112d4e;
  text-align: center;
}

.submit {
  background: linear-gradient(#f9f7f7 25%, #dbe2ef 95%);
  color: #112d4e;
  width: 100px;
  height: 40px;
}

.advanced-btn {
  background: linear-gradient(#f9f7f7bd 0, #3f72af 95%);
  color: #f9f7f7;
  width: 180px;
  height: 40px;
}

.menu-icon {
  position: fixed;
  color: black;
  left: 1rem;
  top: 0.5rem;
}

.overlay {
  background-color: #dbe2ef7e;
  position: fixed;
  width: 100%;
  height: 100vh;
}

.modal {
  border-right: solid #112d4e;
  width: 40%;
  height: 100vh;
  background: linear-gradient(#f9f7f7 15%, #dbe2ef 55%, #3f72af 100%);
}

.menu {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.menu-item {
  margin: 1.5rem 5%;
  text-decoration: none;
}

.menu-icon:hover {
  cursor: pointer;
  color: #a8dadc;
}

.menu-icon:active {
  transform: translateY(5px);
  color: #a8dadc;
}

.plus-icon:hover,
.heart-icon:hover {
  cursor: pointer;
  color: #e63946;
}

.plus-icon:active,
.heart-icon:active {
  transform: translateY(5px);
  color: #e63946;
}

.menu-item:hover {
  cursor: pointer;
  color: #a8dadc;
}

.menu-item:active {
  transform: translateY(5px);
  color: #112d4e;
}

.button:hover,
.add-list:hover,
.add-lib:hover {
  cursor: pointer;
  color: #e63946;
  background: linear-gradient(#f9f7f7 25%, #a8dadc 95%);
}

.button:active,
.add-lib:active,
.add-list:active {
  transform: translateY(5px);
  background: linear-gradient(#f9f7f7 25%, #a8dadc 95%);
  box-shadow: 0 5px #112d4e;
  outline: none;
}

.info {
  margin-top: 1rem;
  margin-right: 1rem;
  height: 2rem;
  width: 6rem;
  background-color: #e63946;
  color: #f9f7f7;
  align-self: flex-start;
  border-radius: 0.75rem;
}

.thumbnail {
  max-width: fit-content;
  max-height: 150px;
  align-self: flex-start;
  box-shadow: 2px 3px 4px #112d4e;
}

.card-icons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 0.5rem;
  font-size: 1.25rem;
}

.no-top {
  margin-block-start: 0;
}

.no-bottom {
  margin-block-end: 0;
}

.result-title,
.details-title,
.save-title,
.error-title {
  position: fixed;
  width: 75%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.result-title,
.details-title,
.save-title {
  color: #f9f7f7;
}

.result-title {
  top: 0;
}

.details-title,
.save-title,
.error-title {
  top: 0.75rem;
}

.error-title {
  color: #112d4e;
}

.star-radio {
  display: none;
}

.star-icon:hover {
  color: #e63946;
  cursor: pointer;
  font-size: 1.5rem;
}

.star-icon:active {
  color: #112d4e;
  transform: translateY(3px);
}

.red {
  color: #e63946;
  transition: color 1000ms;
}
